en-core-web-sm==2.2.5
fr-core-news-sm==2.2.5
de-core-news-sm==2.2.5
es-core-news-sm==2.2.5
pt-core-news-sm==2.2.5
it-core-news-sm==2.2.5
nl-core-news-sm==2.2.5
el-core-news-sm==2.2.5
nb-core-news-sm==2.2.5
lt-core-news-sm==2.2.5
numpy==1.18.2
spacy==2.2.4
